[project]
	description = casio qcom-common repo.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maneulyori
[access "refs/for/refs/*"]
	read = group user/maneulyori
	push = group user/maneulyori
	label-Code-Review = -2..+2 group user/maneulyori
	label-Verified = -1..+1 group user/maneulyori
	rebase = group user/maneulyori
	removeReviewer = group user/maneulyori
	submit = group user/maneulyori
[access "refs/heads/*"]
	read = group user/maneulyori
	create = group user/maneulyori
	push = +force group user/maneulyori
	pushMerge = group user/maneulyori
[access "refs/tags/*"]
	push = +force group user/maneulyori
	pushTag = group user/maneulyori
	pushSignedTag = group user/maneulyori
